.grid-stack {
  background-color: transparent;
  transition: background-color 5s ease;
}

.grid-stack.dragging {
  background-color: lightgoldenrodyellow;
  outline: 1px dashed var(--border);
}

.grid-stack-item-content {
  outline: 2px solid var(--palladio);
}
.grid-stack-item-content:-webkit-full-screen,
.grid-stack-item-content:fullscreen {
  background-color: #eee;
}

.grid-stack-item-content .drag-handle {
  background-color: var(--palladio);
  color: white;
  cursor: move;
  height: 30px;
  text-align: center;
}

.grid-stack-item-content .drag-handle svg {
  fill: white;
  height: 20px;
  position: absolute;
  top: 4px;
  transition: opacity 0.5s ease;
  width: 20px;
}

.grid-stack-item-content .drag-handle svg#move {
  left: 8px;
  opacity: 0;
}

.grid-stack-item-content:not(:fullscreen):hover .drag-handle svg#move {
  opacity: 1;
}

.grid-stack-item-content .drag-handle span {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 0px;
}

.grid-stack-item-content:fullscreen .drag-handle span {
  display: none;
}

.grid-stack-item-content .drag-handle svg#full-screen {
  cursor: pointer;
  right: 40px;
}

.grid-stack-item-content .drag-handle svg#exit-full-screen {
  cursor: pointer;
  display: none;
  right: 8px;
}

.grid-stack-item-content:fullscreen .drag-handle svg#full-screen {
  display: none;
}

.grid-stack-item-content:fullscreen .drag-handle svg#exit-full-screen {
  display: block;
}

html[data-fullscreen="false"] svg#full-screen {
  display: none;
}
