:root {
  --main: darkgrey;
  --secondary: gainsboro;
  --background: floralwhite;
  --header-text: #595959;
  --border: rgba(0, 0, 0, 0.25);
  --palladio: rgba(78, 189, 229, 0.8);
  --body-font-stack: Karla, Arial, sans-serif;
  --header-font-stack: "Montserrat", Frutiger, "Frutiger Linotype", Univers,
    Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad,
    "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background: var(--main);
  color: white;
  text-shadow: none;
}

.browserupgrade {
  display: none;
}

html[data-supported="false"] .browserupgrade {
  display: block;
  background: yellow;
  text-align: center;
  margin-bottom: 0;
  padding: 0.5em 1em;
  color: #000;
}

html[data-supported="false"] .browserupgrade a {
  text-decoration: underline;
}

input[type="file"]::-webkit-file-upload-button {
  height: 100%;
  vertical-align: middle;
}

.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  font-family: var(--body-font-stack);
}

select:focus:active {
  border-radius: 0.4rem 0.4rem 0 0;
}

body {
  overflow-y: scroll;
  font-size: 1.75em;
  background-color: #ffffff;
  background-image: url("old-mathematics.png");
}

header,
main {
  padding: 0 2em;
}

header,
footer {
  background-color: var(--background);
  background-image: url("old-mathematics.png");
}

main {
  margin: 2em 0;
}

header {
  align-items: baseline;
  display: flex;
  border-bottom: 1px solid var(--border);
}

header h1 {
  text-shadow: 0 2px 0px white;
}

header img {
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
  height: 60px;
  margin-right: 15px;
  transform: translateY(10px);
  width: 60px;
}

footer {
  border-top: 1px solid var(--border);
  padding: 0.25em 2em;
  text-align: right;
}

footer a {
  border-bottom: 1px solid transparent;
  color: var(--header-text);
  display: inline-flex;
  vertical-align: bottom;
  width: fit-content;
}

footer a:hover {
  color: var(--palladio);
  border-bottom: 1px solid var(--palladio);
}

footer svg {
  margin-right: 0.25em;
  width: 1em;
}

footer svg rect {
  fill: var(--header-text);
}

footer svg path {
  fill: var(--background);
}

footer a:hover svg rect {
  fill: var(--palladio);
}

span.tab {
  background-color: var(--secondary);
  border-radius: 0.4rem 0.4rem 0 0;
  color: white;
  cursor: pointer;
  font-family: var(--body-font-stack);
  display: inline-block;
  padding: 0.5rem 1rem;
}

span.tab.active {
  background: var(--main);
}

div.tab-content {
  background-color: #ffffff;
  display: none;
}
div.tab-content.active {
  display: flex;
  font-size: 80%;
  max-width: 800px;
  padding: 0 1rem;
  border: 1px solid var(--border);
  height: 75px;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0 0.4rem 0.4rem 0.4rem;
}

div.tab-content.active :first-child {
  flex-grow: 1;
  margin-bottom: 0;
}

div.tab-content.active :last-child {
  flex: 0 0 200px;
  margin-left: 1rem;
  margin-bottom: 0;
}

#project-details {
  padding: 1rem;
}

#project-details p {
  margin: 0;
}

#project-details ul.metadata {
  display: flex;
  flex-flow: row wrap;
}

#project-details ul.metadata li {
  display: flex;
  border: 1px solid var(--border);
  border-radius: 0.4rem;
  margin-right: 1rem;
}

#project-details ul.metadata span:first-child {
  background-color: var(--main);
  border-radius: 0.4rem 0 0 0.4rem;
  color: #fff;
  flex: 0 0 auto;
  font-family: var(--header-font-stack);
  font-size: 80%;
  padding: 0 1rem;
  text-align: right;
}

#project-details ul.metadata span:last-child {
  align-items: center;
  background-color: white;
  border-radius: 0 0.4rem 0.4rem 0;
  display: flex;
  font-size: 80%;
  margin: 0;
  padding: 0 1rem;
}

#project-details div {
  display: flex;
  margin: 0.5rem 0;
}

#project-details div strong {
  flex: 0 0 150px;
}

#project-details ul.pills {
  align-items: center;
  display: flex;
  margin: 0;
}

#project-details ul.pills li {
  background-color: white;
  border-radius: 1rem;
  border: 2px solid var(--main);
  color: var(--main);
  display: inline-block;
  font-size: 70%;
  font-weight: bold;
  list-style: none;
  margin: 0 0.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

palladio-map-component,
palladio-graph-component,
palladio-cards-component {
  overflow: hidden;
  height: calc(100% - 30px);
}

.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 0.4rem;
  color: #d8000c;
  background-color: #ffbaba;
}

.error-msg pre {
  background: transparent;
  border: 0;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(+100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
