{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/resolver": "parcel2"
  },
  "ignorePatterns": ["dist/*.js"],
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["d"] }
    ],
    "import/extensions": [2, "always"]
  }
}
