body {
  background: #eee;
}

.links line {
  stroke: #ccc;
  stroke-opacity: 1;
  stroke-width: 1;
}

text {
  color: #565a5c;
  font-family: karla, Arial, Helvetica;
  font-size: 11px;
}

.nodes circle {
  cursor: pointer;
  fill-opacity: 0.95;
  fill: #bbbbbb;
  stroke-width: 2px;
  stroke: #eee;
}

.nodes circle:hover {
  fill: #ddd;
  fill-opacity: 1;
}

.nodes circle.highlighted {
  fill: #666;
}
