body {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: inherit;
}

.palladio-gallery {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  height: 150px;
  padding: 0.5em;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0.5em;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.card:hover {
  background-color: #ccc;
}

.title {
  font-size: 1.25em;
  line-height: normal;
}

.subtitle {
  color: #888;
  font-size: 1.125em;
  overflow-y: auto;
}

.text {
  font-size: 1em;
  overflow-y: auto;
}

.image {
  grid-row: 1/-1;
  width: 100px;
  max-height: 150px;
  background-size: cover;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
}

.link {
  text-decoration: none;
}
