body {
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}

.palladio-cards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  height: 150px;
  padding: 0.5em;
  background: #e5e5e5;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0.5em;
}

.card:hover {
  background-color: #ccc;
}

.title {
  font-size: 1.2em;
  line-height: normal;
}

.subtitle {
  color: #888;
  font-size: 1.1em;
}

.text {
  font-size: 1em;
  overflow-y: auto;
}

.image {
  grid-row: 1/-1;
  width: 100px;
  background-size: cover;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
}

.link {
  text-decoration: none;
}

.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: #d8000c;
  background-color: #ffbaba;
}

.error-msg pre {
  background: transparent;
  border: 0;
}
